# idk why this exists
.DS_Store

.env
bee

# Not commiting the tests for a while
# because of how incomplete they are
# using for non-rust based tests for now
#tests/
*.bdb

# serialised state for raft
raft.state
# local_path for services.store
store_local/

# Old go project
temp/

# might exceed storage at some point
# not here for Git-LFS
re.db


# Added by cargo

/target
