[package]
name = "bee"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
rmp = "0.8.14"
rand = "0.8.5"
yaml-rust2 = "0.9.0"
